body {
    font-family: 'Tangerine', serif, 'Itim';
    font-size: 48px;
    }

.img-fluid{
    width: 90px;
    height: 90px;
}


/* Une partie était caché sous la barre de navigation en haut de page. 
J'ai donc créé un margin en haut du document pour que l'ensemble puisse être vu. 
Et j'ai pensé à utilisé les medias queries pour que ce margin-top s'adaptte en fonctionne de la taille de l'écran.*/

@media only screen and (min-width : 1224px){
    /* Desktops et laptops: Styles pour cette Media Queries */
.tirage{
    padding-top: 200px;
}
}

@media only screen and (max-width : 1223px) and (min-width : 997px) {
.tirage{
    padding-top: 225px;
}
}

@media only screen and (max-width : 996px) and (min-width : 769px) {
.tirage{
    padding-top: 300px;
}
}

@media only screen and (max-width : 768px) {
.tirage{
    padding-top: 500px;
}
}

